.editor-class {
  /* border: 2px solid red !important; */
  min-height: 108px;
  border-radius: 5px;
  padding-left: 12px;
  width: 18.0625rem;
}

.wrapper-class {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 5px;
  border: 0.5px solid #d8d8d8;
}

.toolbar-class {
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0.5px solid #d8d8d8;
  background-color: #f9fafc;
}

.insert-entity {
  width: 4.375rem;
  height: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  border: 0.5px solid #ececec;
  font-family: Inter;
  font-size: 0.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #858585;
}

.rdw-option-wrapper {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  border-right: 1px solid #ececec;
}

.rdw-option-wrapper:hover {
  box-shadow: none;
}

.react-flow__handle{
  background: white;
  top: 84%;
  border: 1.5px solid hsla(0, 0%, 93%, 1);
}

.react-flow__minimap-mask {
  fill: white;
}