*{
  user-select: text;
}
.editor-class {
  /* border: 2px solid red !important; */
  min-height: 108px;
  border-radius: 5px;
  padding-left: 12px;
  width: 17.0625rem;
}

.wrapper-class {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 5px;
  border: 0.5px solid #d8d8d8;
  /* margin-bottom: 20px; */
}

.toolbar-class {
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0.5px solid #d8d8d8;
  background-color: #f9fafc;
}

.insert-entity {
  width: 4.375rem;
  height: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  border: 0.5px solid #ececec;
  font-family: Inter;
  font-size: 0.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #858585;
}

.rdw-option-wrapper {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  border-right: 1px solid #ececec;
}

.rdw-option-wrapper:hover {
  box-shadow: none;
}

.react-flow__handle{
  background: white;
  top: 84%;
  border: 1.5px solid hsla(0, 0%, 93%, 1);
}

.react-flow__minimap-mask {
  fill: white;
}

.ant-table, .ant-table-container, .ant-table-header, .ant-table-wrapper {
  border-radius: 10px 10px 0px 0px !important;
  border-start-start-radius: 10px !important;
  border-start-end-radius: 10px !important;
}

.ant-table-thead {
  background-color: hsla(0, 0%, 92%, 0.5);
}

.ant-table-thead > tr > th {
  background: transparent !important;
  color: hsla(0, 0%, 15%, 1) !important;
  font-weight: 600 !important;
}

tbody > tr > td {
  color: #858585 !important;
}

.ant-table-cell {
  background-color: white;
  font-weight: 400 !important;
  font-family: Inter;
}

.slick-next:before {
  color: hsla(218, 19%, 38%, 0.55)
}

.slick-prev:before {
  color: hsla(218, 19%, 38%, 0.55)
}

.public-DraftStyleDefault-ltr{
  width: 88%;
}
.rdw-link-modal {
  position: absolute;
  top: 35px;
  left: 5px;
  display: flex;
  flex-direction: column;
  width: 235px;
  height: fit-content;
  border: 1px solid #F1F1F1;
  padding: 15px;
  border-radius: 2px;
  z-index: 100;
  background: white;
}

.rdw-option-active{
  background: #D8D8D8 !important;
}

.rdw-editor-main{
  overflow: hidden;
}