@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@100;400;700&display=swap');
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: hsla(220, 33%, 98%, 1) !important;
}

#root{
  width: 100%;
}